{% extends 'AppCoder/index.html' %}
    {% block 'loginusuario' %}
        <h1 class="titulo"> Editar Avatar </h1>
        <img src={{ MEDIA_URL}} {{avatar.avatar.url}} height='50' </img>
        <form class='text-light' action='' method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <table class="mt-3 text-light">
                {{formulario.as_p}}
            </table>
            <input class="mt-4" type="submit" value="Enviar"> 
        </form>    
    {% endblock 'loginusuario' %}
</body>
</html>
